#qbMask { 
	position: fixed; 
	top: 0; 
	left: 0;
	right: 0; 
	bottom: 0; 
	background-color: rgba(255, 255, 255, 0.75);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff, endColorstr=#99ffffff); 
	z-index: 500;
	text-align: center;
}

#qbContent { 
	width:300px; 
	margin: 10em auto 0;
	position: relative;
	background-color:#eee; 
	z-index:501; 
	padding:10px; 
	border:1px solid #333; 
	border-radius:5px; 
	box-shadow:0 0 10px #000;
}

#qbClose { 
	position: absolute; 
	top:5px; 
	right: 5px;
}

#qbClose:hover { 
	color:#f00; 
	cursor:pointer; 
}